<!-- Footer -->
<footer class="footer font-small special-color-dark pt-4 footer-color">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="https://github.com/aljoshajor/air-bee-n-bee" target="_blank">
          <i class="fab fa-facebook-f icons"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" href="https://github.com/aljoshajor/air-bee-n-bee" target="_blank">
          <i class="fab fa-twitter icons"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1" href="https://github.com/aljoshajor/air-bee-n-bee" target="_blank">
          <i class="fab fa-github icons"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://github.com/aljoshajor/air-bee-n-bee" target="_blank">
          <i class="fab fa-linkedin-in icons"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> air-bee-n-bee.heroku.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
