<div class="card mission-card" style="width: 60rem;">
  <div class="card-body">
    <h3 class="card-title">Bee Inspired</h3>
    <p class="card-text">Did you know that bees perform waggle dances in order to communicate with one another? Or that bees have a sense of smell 50 times more powerful than a dog’s? But hold your horses, there is more! Bees can build hives in zero gravity and can be trained to located buried land mines! Without a doubt, bees are THE coolest tiny beings, and we think all of us should get to know them a little better. Check out our bees below and book your furry friend ASAP!</p>
    <a href="#" class="btn bt-black">See all Bees</a>
  </div>
</div>

