.card-bee {
  border-radius: 20px;
  box-shadow: 3px 3px 5px gray;
  transition: 0.5s ease;
  cursor: pointer;

}

.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-bee-title {
  font-family: $body-font;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}
