.footer-color {
  background-color: #f5cb5c !important;
  color: white !important;
a {
  text-decoration: none;
  color:white !important;
}

a:hover {
  text-decoration: none;
  color: black !important;
}

}

