.navbar-lewagon {
  justify-content: space-between;
  background: white;


   .btn {
  display: inline-block;
  border-radius: 20px;
  background: #f5cb5c;
  color: white;
  padding: 12px 22px;
  // font-weight: bold;
  border: 1.5px solid white;
  opacity: 0.8;
  // font-family: $banner;
  font-family: 'Montserrat', sans-serif;

 }

 .btn:hover {
  background: black;
  color: #f5cb5c !important;

 }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-home {
  display:flex;
}

.navbar-home-home {
  display: flex;
}

.nav-link-login {
    color: black !important;
}

.dropdown-list {
  list-style-type: none;
}

#dropdown-nav :hover {
  color: #f5cb5c;
}


