<div class="banner" style="background-image: url('<%= image_path 'big.jpg' %>')">
  <div class="banner-content">
    <h1>Welcome to air-bee-n-bee!</h1>
    <p><strong>Bee ready to get buzzed by our Bees!</strong></p>
  </div>
</div>

%><div><%= render 'shared/card_bee' %>  </div>
